<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/leap-0.4.3.min.js"></script>
		<script src="/javascripts/jquery-1.11.0.js"></script>
		<script src="/javascripts/angular.js"></script>
		<script src="/javascripts/controller.js"></script>
  </head>
  <body ng-app="HandLeapApp">
		<div class="main" ng-controller="HandLeapController">
			<h1> Connection Status </h1>
			<h2> {{connectionStatus}} </h2>
		</div>
  </body>
</html>