body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.slider{
    float: left;
    width: 95% !important;
}

.volume-up {
    float: right;
}
.volume-down {
    float: left;
}

.playlist-buttons {
    padding-bottom: 2%;
}
